<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Na Loja Tem</h3>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Ajuda</h3>
                <ul>
                    <li><a href="#">Fale conosco</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Redes sociais</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>