<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <img th:src="@{/imagens/Logo.png}" alt="Logo Na Loja Tem">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="O que você está procurando?">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="user-actions">
                <a href="#"><i class="fas fa-shopping-cart"></i> Carrinho <span class="cart-count">0</span></a>
                <a href="#" id="login-btn"> Entrar <i class="fas fa-user"></i></a>
            </div>
            <button class="mobile-menu-btn"><i class="fas fa-bars"></i></button>
        </div>
        <nav>
            <div class="container">
                <ul id="nav-menu">
                    <li><a th:href="@{/}" href="#"><i class="fas fa-th-large"></i> Lojas</a></li>
                    <li><a th:href="@{/ofertas}" href="#"><i class="fas fa-tag"></i> Ofertas</a></li>
                    <li><a th:href="@{/lancamentos}" href="#"><i class="fas fa-bullhorn"></i> Lançamentos</a></li>
                    <li><a th:href="@{/destaques}" href="#"><i class="fas fa-star"></i> Destaques</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</body>
</html>